#a1 {
    border: 2px solid rgb(21, 5, 248);
    width: 200px;
    height: 200px;
    position: absolute;
}
#a2 {
    border: 2px solid rgb(252, 206, 25);
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 201px;
}
#a3 {
    border: 2px solid rgb(228, 13, 13);
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 201px;

}
#a4 {
    border: 2px solid rgb(142, 12, 248);
    position: absolute;
    width: 200px;
    height: 250px;
    margin-top: 51px;
    margin-left: 201px;
}
#a5 {
    border: 2px solid rgb(7, 243, 78);
    position: absolute;
    width: 200px;
    height: 100px;
    margin-top: 301px;
    margin-left: 201px;
}